    html, body {
                    background-color: #fff;
                    color: #636b6f;
                   font-family: 'Poiret One', cursive;
                    font-weight: 100;
                    height: 100vh;
                    margin: 0;
                   background-color: #FFDEE9;
                background-image: -webkit-linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
                background-image: -moz-linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
                background-image: -o-linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
                background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);

                }

                .full-height {
                    height: 10vh;
                }

                .flex-center {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                }

                .position-ref {
                    position: relative;
                }

                .top-right {
                    position: absolute;
                    right: 10px;
                    top: 18px;
                }

                .content {
                    text-align: center;
                }

                .title {
                    font-size: 84px;
                }

                .links > a {
                    color: #636b6f;
                    padding: 0 25px;
                    font-size: 12px;
                    font-weight: 600;
                    letter-spacing: .1rem;
                    text-decoration: none;
                    text-transform: uppercase;
                }

                .m-b-md {
                    margin-bottom: 30px;
                }
                .input-group .form-control:first-child, {
                	font-weight: bold;
                }
                </style>
